/*
This is the style.css, the stylesheet for the shiny app
Developed by Sean Yang.
*/

@import url('https://fonts.googleapis.com/css?family=Signika');
body {
    font-family: "Apple SD Gothic Neo";
    font-size: 200%;
    background-image: url("http://scimg.dameigong.cn/b/20180425/20180425233610_68516.jpg");
    background-size: 100%;
    opacity: 0.9;
}
h2, h3{
    text-align: center;
    font-family: "Signika";
}

h3 {
    text-align: left;
}

.well {
    margin-left: 20px;
    width: 105%;
}

.navbar {
    background-color: white;
    opacity: 0.5;
}

.tab-content {
    background-color: transparent;
}

#tab-9121-1 {
    height: 100%;
}

#defs-3fd441 {
    background-color: transparent;
}

#tab-5187-3{
    text-align: center;
}

#map {
    width: 80%;
}

p {
    font-family: "Apple SD Gothic Neo";
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: 80%;
}

.col-sm-4 {
    display: inline;
    width: 30%;
}

.col-sm-8 {
    margin-left: 80px;
    display: inline;
    width: 70%;
}

#tab-9360-1 p {
    font-size: 120%;
}

#tab-8483-4 .col-sm-4, #tab-8483-4 .col-sm-8 {
    margin-top: 20px;
}

#tab-8483-4 .col-sm-8 {
    width: 60%;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.navbar-nav li:hover {
    border: 2px solid antiquewhite;
}

li {
    border-color: white;
    border-style: outset;
}

li.active {
    border-style: inset;
}

#tab-7432-4 .tab-content {
    height: 70px;
}
